<html>

<head>
    <title>Chatroom Rules</title>

    <!-- links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/icomoon/style.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/rules">Rules</a>
                </li>
            </ul>
        </nav>
    </header>



    <div class="container-fluid">
        <div style="margin-top:10%;margin-left:30%">
            1. dont be a fool
            <br> 2. obey rule #1
        </div>
    </div>

</body>

</html>